<h3>Known clients</h3>
<ul>
    {% for key in clients %}
    <li>{{ key }}:{{ clients[key].startup_distance }}cm</li>
    {% endfor %}
</ul>

<h3>Data</h3>
<ul>
    {% for key in data %}
    <li>{{ key }} => {{ data[key].dist1 }} / {{ data[key].dist2 }} @ {{ data[key].time }} ... {{ data[key].voltage }}V</li>
    {% endfor %}
</ul>


<div class="container">

    <i id="gate_A" class="my-icon" style="left: 10px; top: 10px"><i></i></i>
    <i id="gate_B" class="my-icon" style="left: 30px; top: 40px"><i></i></i>
    <i id="gate_C" class="my-icon" style="left: 50px; top: 50px"><i></i></i>
    <i id="gate_D" class="my-icon" style="left: 70px; top: 70px"><i></i></i>

    <img src="static/map.png"/>


</div>