<h3>Known clients</h3>
<p>
    {% for key in dungeon.clients %}
    <span {% if (dungeon.clients[key].max_voltage - 0.05) > dungeon.clients[key].voltage %}
            style="color: red"
    {% endif %}>
        {{ dungeon.clients[key].gates }}: {{ dungeon.clients[key].voltage }}/{{dungeon.clients[key].max_voltage}} |
    </span>
    {% endfor %}
</p>

<a href="#" style="padding-left: 150px" onclick="$('#client_data').toggle()">Data</a><br>
<ul id="client_data" style="display: none">
    <li>Demo</li>
    {% for key in dungeon.data %}
    <li>{{ key }} => {{ dungeon.data[key].dist1 }} / {{ dungeon.data[key].dist2 }} @ {{ dungeon.data[key].time }} ... {{
        dungeon.data[key].voltage }}V
    </li>
    {% endfor %}
</ul>

{% if dungeon.game and dungeon.game.state %}
<a href="#" onclick="$.get('/rewind')">Rewind</a><br>
{% for state in dungeon.game.stateHistory %}
{{state.last_gate }} |
{% endfor %}
{{ dungeon.game.state.last_gate }}
<div class="container">
    {% for gate, data in dungeon.game.state.gates() %}
    <a href="#" onclick="$.get('/go/{{gate}}')">
        <i id="gate_{{ gate }}" class="my-icon {{ data['style'] }}"
           style="left: {{ data['x'] }}px; top: {{ data['y'] }}px"><i></i></i>
    </a>
    {% endfor %}
    <img src="static/map.png"/>
</div>
{% endif %}