


<h3>Known clients</h3>
<ul>
    {% for key in dungeon.clients %}
    <li>{{ key }}:{{ dungeon.clients[key].startup_distance }}cm</li>
    {% endfor %}
</ul>

<h3>Data</h3>
<ul>
    {% for key in dungeon.data %}
    <li>{{ key }} => {{ dungeon.data[key].dist1 }} / {{ dungeon.data[key].dist2 }} @ {{ dungeon.data[key].time }} ... {{
        dungeon.data[key].voltage }}V
    </li>
    {% endfor %}
</ul>

<h3>State and History</h3>
{% if dungeon.game %}
{{ dungeon.game.state.status() }}

<div class="container">
    {% for gate, data in dungeon.game.state.gates() %}
    <i id="gate_{{ gate }}" class="my-icon {{ data.style }} " style="left: {{ data.x }} px; top: {{ data.y }} px"><i></i></i>
    {% endfor %}
    <img src="static/map.png"/>
</div>
{% endif %}