{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var interval = 1000;   //number of mili seconds between each call
    var refresh = function() {
        $.ajax({
            url: "/clients",
            cache: false,
            success: function(html) {
                $('#server-name').html(html);
                console.log(html);
                setTimeout(function() {
                    refresh();
                }, interval);
            }
        });
    };
    refresh();
  });


</script>


<h1>Dungeon master</h1>
<p>
    <a href="#" onclick="$.get('/team1_start')">Team1_GO</a> |
    <a href="#" onclick="$.get('/team2_start')">Team2_GO</a> |
</p>
<div id="server-name"></div>

{% endblock %}